.container-caixa-busca {
  position: fixed;
  top: 20px;
  left: 43%;
  height: auto;
  width:100%;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;

}
