<form (ngSubmit)="submitForm()" [formGroup]="formularioCadastro" #form='ngForm' >
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" formControlName="nome" required>
  </div>
  <div class="erroValidacao" *ngIf="isCampoInvalido('nome') && form.submitted">
    <p>* Campo nome é obrigatório</p>
  </div>
  <div class="form-group">
    <label for="preco">Preço:</label>
    <input type="number" id="preco" formControlName="preco" required>
  </div>
  <div class="erroValidacao" *ngIf="isCampoInvalido('preco') && form.touched">
    <p>* Campo preço é obrigatório</p>
  </div>
  <div class="erroValidacao" *ngIf="isValorInvalido('preco') && form.submitted">
    <p>* Campo valor deve ser maior do que 1</p>
  </div>

  <div class="form-group">
    <label for="imagem">Imagem:</label>
    <input type="text" id="imagem" formControlName="imagem" required>
  </div>
  <div class="erroValidacao" *ngIf="isCampoInvalido('imagem') && form.submitted">
    <p>* Campo imagem é obrigatório</p>
  </div>

  <button class="botao" type="submit">Enviar</button>
</form>

